{% extends "base.html" %}
{% block app_content %}
    <h1>Add Tags</h1>

    <form method="POST" action="/pain2">
        {{ form.csrf_token }}
        <div class="form-group">
            <label for="interestDropdown">Select Interest:</label>
            <select class="form-control" id="interestDropdown" name="areaofinterest">
                <option value="0">Select Interest</option>
                {% for interest in interests %}
                    <option value="{{ interest.id }}">{{ interest.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="subcategoryDropdown">Select Subcategory:</label>
            <select class="form-control" id="subcategoryDropdown" name="subcategory">
                <option value="">Select Subcategory</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <script type="text/javascript">
        // Function to fetch subcategories for a selected interest
        function fetchSubcategories(selectedInterest, subcategoryDropdown) {
            subcategoryDropdown.innerHTML = '<option value="">Select Subcategory</option>'; // Clear existing options
    
            // Fetch distinct subcategories for the selected interest using AJAX
            fetch('/get_pain/' + selectedInterest)
                .then(response => response.json())
                .then(data => {
                    data.forEach(subcategory => {
                        var option = document.createElement('option');
                        option.value = subcategory.id;
                        option.textContent = subcategory.name;
                        subcategoryDropdown.appendChild(option);
                    });
                });
        }
    
        // Event listener for any interest dropdown change
        document.querySelectorAll('select[name="areaofinterest"]').forEach(interestDropdown => {
            var subcategoryDropdown = interestDropdown.parentElement.nextElementSibling.querySelector('select[name="subcategory"]');
    
            interestDropdown.addEventListener('change', function() {
                var selectedInterest = this.value;
                fetchSubcategories(selectedInterest, subcategoryDropdown); // Call the function to fetch subcategories
            });
    
            // Trigger change event for initial population
            var selectedInterest = interestDropdown.value;
            fetchSubcategories(selectedInterest, subcategoryDropdown);
        });
    </script>
    
    
    
    
    
{% endblock %}
