{% extends "base.html" %}
{% block app_content %}
    <h1>{{ title }}</h1>
    <form action="" method="POST">
        <h2>Interests</h2>
        <a href="{{ url_for('auth.add_interest') }}">Add Interests</a>
        <table>
            <tr>
                <th></th>
                <th>Name</th>
            </tr>
            {% for interest in interests%}
                <tr>
                    <td><input type="checkbox" name="delete_interests" value="{{interest.id}}"></td>
                    <td>{{ interest.name }}</td>
                </tr>
            {% endfor %}


        </table>
        <h2>Campuses</h2>
        <a href="{{ url_for('auth.add_campus')}}">Add Campus</a>
        <table>
            <tr>
                <th></th>
                <th>Name</th>
            </tr>
            
            {% for campus in campuses%}
                <tr>
                    <td><input type="checkbox" name="delete_campuses" value="{{campus.id}}"></td>
                    <td>{{campus.name}}</td>
                </tr>
                
            {% endfor %}

        </table>
        
        <input type="submit" value="Delete" name="submit_button">
    </form>
{% endblock %}
