<table class ="table table-hover"><!--course table is from css-->
    <tr valign = "center">
        <!--the width adds spacingbetween the variables on that line and the next-->
            <td width="60%">{{class.major}} {{class.coursenum}} - {{class.title}} </td>
            <td width="20%">
                {% if current_user.is_enrolled(class) == False%}
                <!-- we provide action because
                
                -->
                   <!---enroll-->
                <form action="{{url_for('routes.enroll',classid=class.id)}}" method="post">
                    
                      <input type="submit" value ="Enroll" class ="btn btn-success">
                </form>
               {% else %}
               <!---!enroll-->
                    <form action="{{url_for('routes.unenroll',classid=class.id)}}" method="post">
                    
                        <input type="submit" value ="Unenroll" class ="btn btn-warning">
                    </form>
                   Enrolled on: {{moment(current_user.getEnrolmentDate(class)).format('LL')}}

                {% endif %}
            </td>
            <td width="20%">
<!-- the a href makes it a link. later the # can be something i want to route to-->   
        <a href="{{url_for('routes.roster',classid=class.id)}}">   {{class.major}} {{class.coursenum}}    Roster </a>
            </td>
    </tr>

    </table>