{% extends "base.html" %}
{% block app_content%}
    <h1>Add Tags</h1>

    <form method="POST" action="/addTags">  <!-- Specify the correct action attribute -->
        {{ form.csrf_token }}  <!-- Include the CSRF token -->
        <div class="row">
            <div class="col-md-4">
                
                <!-- Interest Dropdown -->
                <div class="form-group">
                    {{ wtf.form_field(form.areaofinterest, class_="form-control", id="interestDropdown") }}
                </div>
                <!-- Subcategory Dropdown -->
                <div class="form-group">
                    <select class="form-control" id="subcategoryDropdown" name="subcategory">
                        <option value="">Select Subcategory</option>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Handle change in the interest dropdown
            $('#interestDropdown').on('change', function() {
                var selectedInterest = $(this).val();
                var subcategoryDropdown = $('#subcategoryDropdown');

                if (selectedInterest) {
                    // Populate the subcategory dropdown based on the selected interest
                    $.ajax({
                        type: 'GET',
                        url: '/get_subcategories/' + selectedInterest,
                        success: function(data) {
                            subcategoryDropdown.html(data);
                        }
                    });
                } else {
                    // If no interest is selected, clear and disable the subcategory dropdown
                    subcategoryDropdown.empty();
                    subcategoryDropdown.prop('disabled', true);
                }
            });
        });
    </script>
{% endblock %}
