{% extends "base.html" %}
{% block app_content %}
    <h1>{{ title }}</h1>
    <form action="" method="POST">
        <h2>Affiliates</h2>
        <table class="styled-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Is Deactivated</th>
                    <th>Is Admin</th>
                    <th>Alter Affiliate Data</th>
                </tr>
            </thead>
            <tbody>
                {% for affiliate in all_affiliates %}
                    {% if not affiliate.is_admin %}
                        <tr>
                            <td><input type="checkbox" name="user_check" value="{{ affiliate.id }}"></td>
                            <td>
                                <img src="{{ url_for('static', filename=affiliate.image_file) }}" alt="profile_pic" width="25" height="25px">
                                {{ affiliate.firstname }} {{ affiliate.lastname }}
                            </td>
                            <td>{{ affiliate.email }}</td>
                        {% if affiliate.is_ban %}
                            <td>
                                <i class="fas fa-check"></i>
                            </td>
                        {% else %}
                            <td>

                            </td>
                        {% endif %}
                            <td>
                                {% if affiliate.is_admin %}
                                    <input type="checkbox" checked onclick="return false;">
                                {% else %}
                                    <input type="checkbox" onclick="return false;">
                                {% endif %}
                            </td>
                            <td><a href="{{ url_for('auth.admin_edit_profile', user_id=affiliate.id) }}">Edit</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <h2>Admins</h2>
        <table class="styled-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Is Admin</th>
                    <th>Menu</th>
                </tr>
            </thead>
            <tbody>
                {% for affiliate in all_affiliates %}
                    {% if affiliate.is_admin %}
                        <tr>
                            <td><input type="checkbox" name="user_check" value="{{ affiliate.id }}"></td>
                            <td>
                                <img src="{{ url_for('static', filename=affiliate.image_file) }}" alt="profile_pic" width="25" height="25px">
                                {{ affiliate.firstname }} {{ affiliate.lastname }}
                            </td>
                            <td>{{ affiliate.email }}</td>
                            <td>
                                {% if affiliate.is_admin %}
                                    <input type="checkbox" checked>
                                {% else %}
                                    <input type="checkbox">
                                {% endif %}
                            </td>
                            <td><a href="{{ url_for('auth.admin_edit_profile', user_id=affiliate.id) }}">Edit</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

        <input type="submit" name="submit_button" value="Deactivate">
    </form>
    <style>
        .styled-table {
            border-collapse: collapse;
            width: 100%;
        }

        .styled-table th,
        .styled-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .styled-table th {
            background-color: #f2f2f2;
        }

        .styled-table tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
{% endblock %}