{% extends "base.html" %}
{% block app_content %}
<!DOCTYPE html>
<html>
<head>
    <style>
        .flex-container {
            display: flex;
        }

        .profile-pic {
            margin-right: -20px;
        }

        .profile-pic img {
            width: 250px;
            height: 250px;
            margin-left: -10px;
        }

        .flex-info {
            flex: 1;
        }

        .flex-info h4 {
            color: rgb(166, 15, 45);
            font-weight: bold;
        }

        .email {
            color: rgb(166, 15, 45);
            font-weight: bold;
        }

        .info-list {
            list-style: none;
            padding: 0;
        }

        .info-list li {
            margin: 0px 0;
        }
        .affiliate-link {
            display: flex; /* Use a flex container */
            align-items: center; /* Align items vertically to the center */
        }
    </style>
</head>
<body>
    <div class="flex-container">
        <div class="profile-pic">
            <a href="http://{{ affiliate.url }}">
                <img src="{{ image_file }}" alt="profile_pic" width="250px" height="250px">
            </a>
        </div>
        <div class="flex-info">
            <h1>{{ affiliate.firstname }} {{ affiliate.lastname }}</h1>
            <p><span class="email">Email |</span> <b>{{ affiliate.email }}</b></p>
            <p>
                <span class="email">Department |</span> 
                <b>
                {% for department in affiliate.departments %}
                {{ department.name }}
                {% if not loop.last %}, 
                {% endif %}
                {% endfor %}</b></p>
       
            <p><span class="email">Campus |</span> <b>{{ affiliate.wsuCampus }}</b></p>    
            <p><span class="email">URL |</span> <b>{{ affiliate.URL }}</b></p>    
            
            <p>
                <span class="email">Interests |</span>
                <b>
                    {% set unique_big_interests = [] %}
                    {% for big_interest in affiliate.bigInterest %}
                        {% if big_interest.name not in unique_big_interests %}
                            {{ big_interest.name }}{% if not loop.last %}, {% endif %}
                            {% set _ = unique_big_interests.append(big_interest.name) %}
                        {% endif %}
                    {% endfor %}
                </b>
            </p>
            
          
<p>
    <span class="email">Sub-Interests |</span>
    <b>
        {% set unique_small_interests = [] %}
        {% for small_interest in affiliate.smallInterest %}
            {% if small_interest.name not in unique_small_interests %}
                {{ small_interest.name }}{% if not loop.last %}, {% endif %}
                {% set _ = unique_small_interests.append(small_interest.name) %}
            {% endif %}
        {% endfor %}
    </b>
</p>
                </p>
            </b></p> 
        </div>
    </div>
    <div class="flex-info">
        <h4><span style="color: rgb(166, 15, 45); font-weight: bold;">Projects</span></h4>
        {% for project in affiliate.projects %}
            <p>{{project.authors}}.{{ project.year }}.{{ project.name }}.{{project.publisher}}<b><span style="color: rgb(166, 15, 45); font-weight: bold; margin-left: 48px;"></span></b></p>
        {% endfor %}
        <h4><span style="color: rgb(166, 15, 45); font-weight: bold;">Publications</span></h4>
        {% for publication in publications %}
                <strong>Title:</strong> {{ publication.title }}<br>
                <strong>Authors:</strong> {{ publication.authors }}<br>
                <strong>Journal:</strong> {{ publication.journal }}<br>
                <strong>Volume:</strong> {{ publication.volume }}<br>
                <strong>Issue:</strong> {{ publication.issue }}<br>
                <strong>Publication Year:</strong> {{ publication.publication_year }}<br>
                <strong>Page Range:</strong> {{ publication. page_range }}<br>
            {% if current_user == publication.affiliate %}
                <form method="post" action="{{ url_for('routes.delete_publication', publication_id=publication.id) }}">
                    <input type="submit" value="Delete">
                </form>
                <form method="get" action="{{ url_for('routes.edit_publication', publication_id=publication.id) }}">
                    <input type="submit" value="Edit">
                </form>
                <form method="get" action="{{ url_for('routes.edit_publication_add', publication_id=publication.id) }}">
                    <input type="submit" value="Add more">
                </form>
            {% endif %}
                <br>
        {% endfor %}
        <h4><span style="color: rgb(166, 15, 45); font-weight: bold;">Education</span></h4>
        {% for education in affiliate.education %}
            <div class="">
                {{education.degree}}
                {{education.title}}
                {{education.year}}
                {{education.college}}
            </div>
        {% endfor %}
        <h4><span style="color: rgb(166, 15, 45); font-weight: bold;">Professional Experiences</span></h4>
        {% for experience in affiliate.experience %}
            <div class="">
                {{experience.title}}
                {{experience.location}}
                {{experience.date_from}}
                {{experience.date_to}}
            </div>
        {% endfor %}
        <p class="affiliate-link"><span class="email">Personal Affiliate Link |</span> <b><a href="http://{{ affiliate.url }}"> {{ affiliate.url }}</a></b></p>
    </div>
</body>
</html>
{% endblock %}