{% extends "base.html" %}

{% block app_content %}
    <h1>{{ title }}</h1>
    <table>
        <tr>
            <th>Interest</th>
            <th>Subcategory</th>
        </tr>
        {% for interest in interests %}
            <tr>
                <td>{{ interest.name }}</td>
                <td>
                    {% if interest.subcategory %}
                        {{ interest.subcategory.name }}
                    {% else %}
                        No subcategory
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
