{% extends "base.html" %}
{% block app_content %}
    <img src="{{ url_for('static', filename='CEREO-landing.jpeg') }}" style="width:300px;height:300px;">
    <h1>Welcome to the WSU CEREO Affiliate Database!</h1>
    <h3 style="margin-top:50px;">To access your Affiliate account or register <br> to be a CEREO Affiliate please navigate to the Login Tab</h3>
    <h3 style="margin-top:50px;">To search for all existing Affiliates in the <br> CEREO database please navigate to the Profile Search Tab</h3>
    <h3 style="margin-top:50px;">To find other Affiliates with similar information <br> to you please navigate to the Visualize Tab</h3>    
{% endblock %}