{% extends "base.html" %}
    {% block app_content%}
        <h1> Edit Profile </h1>
        {% if form %}
        <div class = "row">
            <div class="col-md-4">
                <p>Please note: The URL can be a link of your choosing. It can be a URL to your linkedin, Github, etc...</p>
                {{wtf.quick_form(form, action= url_for('routes.edit_profile'))}}
            </div>
        </div>
            {% endif %}
            <h1>Current Education Data</h1>         
            <table class="styled-table">
                <tr>
                    <th>Degree</th>
                    <th>Name of Degree</th>
                    <th>Date</th>
                    <th>College/University</th>
                    <th>Edit</th>
                </tr>
                {% for education in affiliate.education %}
                <tr>
                    <td>{{ education.degree }}</td>
                    <td>{{ education.title }}</td>
                    <td>{{ education.year }}</td>
                    <td>{{ education.college }} </td>
                    <td><a href="{{ url_for('routes.edit_education', education_id=education.id, user_id=affiliate.id) }}">Edit</a>
                        <a href="{{ url_for('routes.delete_education', education_id=education.id, user_id=affiliate.id) }}">Delete</a>
                    </td>

                </tr>
                {% endfor %}
            </table>
            <h1>Current Professional Experiences</h1>     
            <table class="styled-table">
                <tr>
                    <th>Title</th>
                    <th>Origin</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Edit</th>
                </tr>
                {% for experience in affiliate.experience %}
                <tr>
                    <td>{{ experience.title }}</td>
                    <td>{{ experience.location }}</td>
                    <td>{{ experience.date_from }}</td>
                    <td>{{ experience.date_to }} </td>
                    <td><a href="{{url_for('routes.edit_experience', exp_id=experience.id, user_id=affiliate.id)}}">Edit</a>
                        <a href="{{url_for('routes.delete_experience', experience_id=experience.id, user_id=affiliate.id)}}">Delete</a>
                    </td>

                </tr>
                {% endfor %}
            </table>
            <h1>Current Projects</h1>
            <table class="styled-table">
                <tr>
                    <th>Name of Project</th>
                    <th>Contributers</th>
                    <th>Date</th>
                    <th>Publisher</th>
                  
                    <th>URL</th>
                    <th>Edit</th>
                </tr>
                {% for project in affiliate.projects %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td>{{ project.authorss }}</td>
                    <td>{{ project.year }}</td>
                    <td>{{ project.publisher }} </td>
                    <td>{{ project.url }}</td>
                    <td><a href="{{ url_for('routes.edit_project', project_id=project.id, user_id=affiliate.id) }}">Edit</a>
                        <a href="{{url_for('routes.delete_project', project_id=project.id, user_id=affiliate.id)}}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <h1>Current Publications</h1>
            <table class="styled-table">
                <tr>
                    <th>Title of Publication</th>
                    <th>Authors</th>
                    <th>Journal</th>
                    <th>Volume</th>
                    <th>Issue</th>
                    <th>Publication Year</th>
                    <th>Page Range</th>
                    <th>Edit</th>
                </tr>
                {% for publication in affiliate.publications %}
                <tr>
                    <td>{{ publication.title }}</td>
                    <td>{{ publication.authors }}</td>
                    <td>{{ publication.journal }}</td>
                    <td>{{ publication.volume }} </td>
                    <td>{{ publication.issue }}</td>
                    <td>{{ publication.publication_year }}</td>
                    <td>{{ publication.page_range }}</td>
                    <td><a href="{{ url_for('routes.edit_publication', publication_id=publication.id) }}">Edit</a>
                        <a href="{{ url_for('routes.delete_publication', publication_id=publication.id) }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <style>
                .styled-table {
                    border-collapse: collapse;
                    width: 100%;
                }
                .styled-table th,
                .styled-table td {
                    border: 1px solid #ddd;
                    padding: 8px;
                    text-align: left;
                }
                .styled-table th {
                    background-color: #f2f2f2;
                }
                .styled-table tr:nth-child(even) {
                    background-color: #f2f2f2;
                }
            </style>
{% endblock %}