/* CategoriesBar.css */
.categoriesBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    
    /* background-color: aliceblue; */
    align-items: flex-end;
    padding: 0 20px 10px 20px;
}

.categoryButton {
    margin: 0 20px;
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 0.3s;
    color: white;
    font-size: 20px;
    /* align-self: flex-start; */
}

.categoryButton:hover {
    transform: scale(1.1);
}

.categoryButton img {
    width: 25px; 
    height: 25px; 
    margin-right: 5px;
}

